.h-wrapper {
  background-color: black;
}

.h-container {
  display: flex;
  max-width: 1230px;
  margin: auto;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.menu a {
  text-decoration: none;
  color: #ccc;
}

.menu-icon {
  display: none;
}

button {
  background: var(--blue-gradient);
  color: white;
  padding: 9.6px 22.4px;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  transition: ease-in;
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: white;
    padding: 50px;
    box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in;
    position: fixed;
    top: 75px;
    right: -100%;
  }

  .menu a {
    color: black;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .showMenu {
    right: 20%;
  }
}
