.c-container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: auto;
}

.c-container > img {
  width: 144px;
  object-fit: contain;
}

/* Responsive */

@media (max-width: 1024px) {
  .c-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .c-container {
    padding: 4rem;
  }
}

@media (max-width: 640px) {
  .c-container {
    padding: 1.5rem;
  }
}
