.hero-section {
  background: var(--black);
  color: white;
  padding-bottom: 2rem;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1230px;
  margin: auto;
  padding: 2rem;
}

/* left side */
.hero-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 4rem;
}
/* right side */

.img-container {
  width: 30rem;
  height: 35rem;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgb(48, 46, 45);
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
}
